header {
    background-color: rgba(196, 245, 252, 0.8);
}

header h1 span {
    color: #E2A0FF;
}

body {
    background-color: rgba(232, 255, 183, 0.3);
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    font-size: 16px;
    text-align: center;
    padding: 0 100px;
    display: flex;
    align-items: center;
}

nav ul li:first-child {
    padding-left: 0;
}

nav ul li:last-child {
    padding-right: 0;
}

nav ul li a {
    color: #E2A0FF;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

.footer {
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-top: 30px;
  width: 100%;
}

.footer-container {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.footer-links {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ddd;
}





